<!-- <div class="container">
    <div class="row">
        <div class="col-xl-12 bg-primary flex ">
            <h3 class="text-danger">I'm am jaymin shiorya</h3>
            <hr>
            <app-servers></app-servers> 
        </div>
    </div>
</div> -->

<!-- <div class="container">
    <div class="row">
        <div class="col-xl-12">
            <ol>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis non ipsam consequatur.</li>
                <li>Lorem ipsum dolor sit amet consectetur adipisicing elit.</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat, cupiditate.</li>
                <li>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi, ullam!</li>
            </ol>
            <p>use external and internal template and styles!</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam voluptatibus totam, architecto similique dolore tenetur maxime corporis dolorum saepe minima!</p>
            <hr>
            <app-warning-alert></app-warning-alert>
            <app-success-alert></app-success-alert>
        </div>  
    </div>
</div>  -->
<div class="container">
    <div class="row">
        <div class="col-xl-12">
           <app-servers></app-servers>
        </div>  
    </div>
</div> 